<div class="main-home container">
   <% if (user == null) { %>
   <h1 class="home-title">Welcome to Pro Blog app</h1>
   <p class="home-subtitle">Share your thoughts and learnings with the world</p>
   <div class="button-group">
      <a href="/register"><button class="btn primary">Sign Up</button></a>
      <a href="/login"><button class="btn secondary">Log In</button></a>
   </div>
   <% } else { %>
   <h1 class="home-title">Welcome Back <%= user.username %></h1>
   <p class="home-subtitle">Share your thoughts and learnings with the world</p>

   <% if (blogsWithPreview && blogsWithPreview.length > 0) { %> <%
   blogsWithPreview.forEach(function(blog) { %>
   <div class="blog-post-card">
      <h2 class="blog-title"><%= blog.title %></h2>
      <div class="blog-image-container">
         <img src="<%= blog.postImg %>" alt="post image" class="post-img" />
      </div>
      <p class="blog-preview"><%= blog.preview %></p>
      <div class="blog-meta">
         <span class="blog-author">By: <%= blog.author.username %></span>
         <a href="/post/<%= blog._id %>"
            ><button class="btn read-more">Read More →</button></a
         >
      </div>

      <% if (blog.author.username === user.username) { %>
      <div class="blog-actions">
         <a href="/edit-post/<%= blog._id %>"
            ><button class="btn edit">Edit</button></a
         >
         <button class="btn delete" data-postId="<%= blog._id %>">
            Delete
         </button>
      </div>
      <% } %>
   </div>
   <% }); %> <% } else { %>
   <p class="no-posts">No blog posts yet.</p>
   <% } %> <% } %>
</div>

<script>
   // this may cause performance issue when there are thousands of blog posts

   document.addEventListener("DOMContentLoaded", () => {
      const deleteBtn = document.querySelectorAll(".delete");

      deleteBtn.forEach((btn) => {
         btn.addEventListener("click", async (e) => {
            e.preventDefault();
            const postId = btn.getAttribute("data-postId");

            const isConfirmed = confirm(
               "Are you sure you want to delete this post?"
            );
            if (!isConfirmed) return;

            const response = await fetch(`/api/posts/${postId}`, {
               method: "DELETE",
               credentials: "same-origin",
            });

            console.log(response);

            if (response.redirected) {
               window.location.href = response.url;
            }
         });
      });
   });
</script>
